.container.d-flex.justify-content-center.align-items-center.min-vh-100
  .card.shadow-lg{style: "width: 30rem; border-radius: 15px; height: auto;"}
    .card-body.p-5
      %h2.text-center.mb-4 Sign up
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource

        .row.mb-4
          .col
            = f.input :first_name, label: "First Name", input_html: { class: 'form-control form-control-lg' }
          .col
            = f.input :last_name, label: "Last Name", input_html: { class: 'form-control form-control-lg' }

        .row.mb-4
          .col
            = f.input :email, autofocus: true, autocomplete: "email", label: "Email", as: :email, input_html: { class: 'form-control form-control-lg' }
          .col
            = f.input :gsm, label: "GSM", input_html: { class: 'form-control form-control-lg' }, label_html: { class: 'd-flex justify-content-between' }
        .row.mb-4
          .col
            = f.input :password, label: "Password", as: :password, input_html: { class: 'form-control form-control-lg' }, hint: (@minimum_password_length ? "(#{@minimum_password_length} characters minimum)" : nil)
          .col
            = f.input :password_confirmation, label: "Password confirmation", as: :password, required: true, input_html: { class: 'form-control form-control-lg' }

        .actions.text-center
          = f.submit "Sign up", class: 'btn btn-success w-100 btn-lg'

      .mt-4.text-center
        .mt-3
          = render "devise/shared/links"

:css
  .mt-4 {
    margin-top: 2rem !important;
  }

  .min-vh-100 {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
