.navbar.navbar-expand-lg.bg-light
  .container.d-flex.justify-content-between.align-items-center
    = link_to 'Rails Template', root_path, class: 'navbar-brand'
    
    %button.navbar-toggler{type: 'button', data: {bs_toggle: 'collapse', bs_target: '#navbarSupportedContent'}, aria: {controls: 'navbarSupportedContent', expanded: 'false', label: 'Toggle navigation'}}
      %span.navbar-toggler-icon
    
    .collapse.navbar-collapse#navbarSupportedContent
      .d-flex.flex-grow-1.justify-content-center
        .search
          %form.d-flex{role: 'search'}
            = text_field_tag :search, nil, class: 'form-control me-2', style:"min-width: 600px;", placeholder: 'Search', aria: {label: 'Search'}
            %button.btn.btn-outline-success{type: 'submit'}
              %i.fas.fa-search
      
      .links
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          - if user_signed_in?
            %li.nav-item
              = link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary mx-2 nav-link"
            %li.nav-item
              = button_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger mx-2 nav-link"
          - else
            %li.nav-item
              = link_to "Sign Up", new_user_registration_path, class: "btn btn-success mx-2 nav-link"
            %li.nav-item
              = link_to "Sign In", new_user_session_path, class: "btn btn-primary mx-2 nav-link"
