= simple_form_for role do |f|
  .card.mt-5
    .card-header
      %h5.card-title= role.new_record? ? 'Add New Role' : 'Edit Role'
    
    .card-body
      = f.input :name, label: 'Role Name', input_html: { class: 'form-control' }

    .card-footer
      = f.submit class: 'btn btn-success', style: 'float: right;'
      = link_to 'Back', roles_path, class: 'btn btn-secondary', style: 'float: left;'
